:root {
  --mt-primary: #16C2A3;
  --mt-plain: #EAF8F6;
  --mt-orange: #FCA21C;
  --mt-text1: #121826;
  --mt-text2: #3C3E42;
  --mt-text3: #6F6F6F;
  --mt-tag: #848484;
  --mt-dark: #979797;
  --mt-tip: #C3C3C5;
  --mt-disable: #D9DBDE;
  --mt-line: #EDEDED;
  --mt-bg: #F6F7F9;
  --mt-price: #EB5757 mt;
}
